.choices{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


.options {
    flex-basis: 24%;
    margin: 0 .5rem;
    border: 1px dashed dodgerblue;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0.25rem 0.25rem 0.5rem rgb(143, 143, 143);
}

.model{
    margin: .5em;
    border: 1px dashed dodgerblue;
    border-radius: 0.5rem;
    box-shadow: 0.25rem 0.25rem 0.5rem rgb(143, 143, 143);
    
 } 
 .model_detail li{
    
      display: inline;
  }  
 
  .customOrders {
      margin: 2rem;
  }
     